// Here you can add other styles
.sidebar-nav,.sidebar-brand,.sidebar-toggler{
    background-color: #0c9f4f;
}
.sidebar-nav .nav-link{
    color:#fff !important;
}
.last_right{
    background-color: #0c9f4f;
    color:#fff;
    text-align: center;
}