// Here you can add other styles
.sidebar-nav,.sidebar-brand,.sidebar-toggler{
    background-color: #0c9f4f;
}
.sidebar-nav .nav-link{
    color:#fff !important;
}
.last_right{
    background-color: #0c9f4f;
    color:#fff;
    text-align: center;
}
.last_tr{
    text-align: center;
}
.main_rege{
    margin-bottom: 20px;
    align-items: center;
}
.button_right{
    margin-right: 10px;
}
.color_white{
    color:#fff;
}
.border_button{
    border-bottom: 1px solid #d8dbe0;
    padding: 10px;
}.style_active{
    background-color: #39f;
    width: 30%;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    padding: 4px;
}
.backGround_main{
    background-color: #fff;
    padding:25px;
}
.button_flex{
    font-size: 14px;

}
// button.header-toggler.ps-1 {
//     display: none;
// }
// button.sidebar-toggler.d-none.d-lg-flex {
//     position: absolute;
// }


